* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#canvas {
  border: 2px solid black;
  display: none;
}

.vertical-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.level-5-container {
  height: 100vh;
}

.level-5-container .level-5-buttons-wrapper #btn-container-1, .level-5-container .level-5-buttons-wrapper #btn-container-3, .level-5-container .level-5-buttons-wrapper #btn-container-5 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.level-5-container .level-5-buttons-wrapper #btn-container-2, .level-5-container .level-5-buttons-wrapper #btn-container-4 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.level-6-container {
  height: 100vh;
}

.level-6-container .circles-container .circle {
  height: 3em;
  width: 9em;
}

.level-6-container .circles-container .circle .dot {
  height: 1em;
  width: 1em;
  border-radius: 20px;
}

.level-7-submit {
  margin-top: 500px;
}
