*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .canvas-container{
//     height: 100vh;

// }
#canvas{
    border: 2px solid black;
    display: none;
}

// #myCanvas{
//     display: none;
// }

.vertical-buttons-container{
    display: flex;
    flex-direction: column;
}

.level-5-container{
    height: 100vh;
    .level-5-buttons-wrapper{
        #btn-container-1, #btn-container-3, #btn-container-5{
            transform: rotate(-45deg);
            // margin-right: -1em;
        }
        #btn-container-2, #btn-container-4{
            transform: rotate(45deg);

        }
    }
}

.level-6-container{
    height: 100vh;
    .circles-container{
    .circle{ 
        height: 3em;
        width: 9em;
        .dot{
            // background-color: red;
            height: 1em;
            width: 1em;
            border-radius: 20px;
            // margin: 0.5em;
        }
    }
}
}
.level-7-submit{
margin-top: 500px;
}